/Chameleon/bin
/Chameleon/obj
/Client/bin
/Client/obj
*.jpg
*.png
/.vs/Chameleon/v16/.suo
/.vs/slnx.sqlite
/Client/Client_c1qmec2c_wpftmp.csproj
/Client/Client_sqgdwkk0_wpftmp.csproj
/Client/Client_sbguvo2w_wpftmp.csproj
/.vs
/Client/Client_avexrt1b_wpftmp.csproj
/Client/Client_niipuzl4_wpftmp.csproj
/Client/Windows/Controls.xaml.cs
/Client/Windows/Controls.xaml
/Client/Client_vunnemdr_wpftmp.csproj
/Client/.vs/Client_avexrt1b_wpftmp.bmp
/.editorconfig
/Bot/bin/Debug/net6.0
/Bot/obj
